.skillsWrapper {
    max-width: 300px;
  .skillsList {
    padding-left: 20px;
    li {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      letter-spacing: 1px;
      font-size: 14px;
      list-style-type: circle;
      margin-bottom: 10px;
    }
  }
}
